// Default Color

$white: 	#FFFFFF;
$grey:		#FAFAFA;
$grey-200:	#EEEEEE;
$blue: 		#03A9F4;
$black: 	#424242;
$green:		#74D56A;
$yellow:	#FFC107;
$red:		#F44336;

// Color Element
$border-color: #E0E0E0;
$border-input: #BDBDBD;
$border-input-hover: #757575;
$black-smoth-color: #616161;
$black-smoth-color2: #757575;
$black-smoth-color3: #212121;

$note-gray: #F5F5F5;
// Margin
$margin-navbar: 60px;

// Attribute
$border: 2px;
$border-3: 3px;
$box-shadow-card: 0px 3px 10px $grey-200;

// Font Size
$font-size-normal: 14px;

// Path
$path: '../assets/image/';